<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoonCart</title>
    <link rel="shortcut icon" href="/images/Mc.png" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <div class="nav flex justify-between items-center p-5 m-2">
      <div class="logo">
        <h1 class="text-purple-700 uppercase font-bold tracking-tight text-2xl heading">
          Moon
          <span class="bg-purple-700 text-white px-3 py-2 rounded"> Cart </span>
        </h1>
      </div>
      <div class="flex justify-center gap-2 items-center">
        <a href="/dashboard" class=" rounded-lg px-2 py-1">Home</a>   
        <% if (user && user.email === 'admin@gmail.com') { %>
          <a href="/product/product" class=" rounded-lg px-2 py-1">Create Product</a>
          <% } %>
          <a href="/cart" class=" rounded-lg px-2 py-1">Cart</a>
        <a href="/logout" class="bg-red-700 text-white rounded-lg px-2 py-1">Logout</a>
      </div>
    </div>
<hr class="border-b-5 border-purple-400 shadow-lg shadow-purple-500/50">
    <!-- Main content -->
    <div class="flex flex-col md:flex-row justify-center gap-5 items-start p-10">
      <!-- Sidebar -->
      <div class="sidebar h-auto md:w-[200px] w-full px-5 py-3">
        <h1 class="text-2xl text-center">All Product</h1>
        <hr class="border-b-5 border-4 border-purple-400" />
        <div class="flex-col ">
          <div class="flex flex-col p-2">
            <a href="" class="hover:text-purple-500">New Collection</a>
            <a href="" class="hover:text-purple-500">All Products</a>
            <a href="" class="hover:text-purple-500"> Discounted Products</a>
          </div>
          <div class="flex flex-col p-2 mt-[200px]">
            <a href="" class="hover:text-purple-500">Filter By:</a>
            <a href="" class="hover:text-purple-500">Added By</a>
            <a href="" class="hover:text-purple-500"> Discount</a>
          </div>
        </div>
      </div>

      <!-- Product section -->

      <div class="products grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 w-full ">
        <% products.forEach(function(product) { %>
          <div class="flex flex-col bg-[<%= product.bgColor %>] rounded-lg overflow-hidden h-100 ">
            <img src="data:image/png;base64,<%= product.image.toString('base64') %>" class="bg-black w-full h-full object-cover" alt="Product Image"/>
            <div class="flex bg-[<%= product.panelColor %>] w-full h-20 p-2  justify-between items-center text-[<%= product.textColor %>]">
              <div class="flex flex-col">
                <h1 class="text-1xl"><%= product.name %></h1>
                <h3 class="text-[18px]">Price: <%= product.price %></h3>
                <h3 class="text-[18px]">Discount: <%= product.discount %></h3>
              </div>
              <a href="/cart/<%=product._id%>" class="text-2xl text-white p-2">+</a>
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
